 {{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}} {{!-- * Create a button
in `index.handlebars` that will submit the user input into the database. --}}
<div class="jumbotron">
    <h1 class="text-center">Ice Cream Race!</h1>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h3>Ice Cream List</h3>
            <form action="/" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" name="ice_cream" placeholder="Enter Ice Cream Flavour">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add Ice Cream
                        </button>
                    </div>
                </div>
            </form>

            <ul class="list-group">
                {{#each ice_cream}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            {{this.id}}. {{this.ice_cream_name}}
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name">
                                <div class="input-group-btn">
                                    <button data-ice_cream_id="{{this.id}}" class="btn btn-success devour_ice_cream float-right">Devour It!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Devoured Ice Cream</h3>
            <ul class="list-group">
                {{#each ice_cream_eaten}}
                <li class="list-group-item">
                    {{this.id}}. {{this.ice_cream_name}} (Eaten by {{this.customer.customer_name}})
                </li>
                {{/each}}
            </ul>
        </div>

    </div>

</div>

<script>
    $('.devour_ice_cream').on('click', function () {
        var id = $(this).data('ice_cream_id');
        var customer = $(this).parent().closest('.input-group').children('.form-control').val();
        console.log(customer);

        $.ajax('/' + id + '/' + customer, {
            type: 'PUT'
        }).then(
            function () {
                console.log("updated id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
            )
    })
</script>