 {{!-- Sets up the `index.handlebars`, template that Handlebars can render onto HTML. --}}

<div class="jumbotron">
    <h1 class="text-center">Ice Cream Race!</h1>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h3>Ice Cream List</h3>
            {{!-- * Creates a button that will submit the user input into the database. --}}
            <form action="/" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" name="ice_cream" placeholder="Enter Ice Cream Flavour">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add Ice Cream
                        </button>
                    </div>
                </div>
            </form>

            {{!-- Sets up the ice cream list that can be eaten by the user --}}
            <ul class="list-group mt-3">
                {{#each ice_cream}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            {{this.id}}. {{this.ice_cream_name}}
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="customer_name" placeholder="Enter Name">
                                <div class="input-group-btn">
                                    <button data-ice_cream_id="{{this.id}}" class="btn btn-success devour_ice_cream float-right">Devour It!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        {{!-- Sets up the devoured ice cream list --}}
        <div class="col-md-6">
            <h3>Devoured Ice Cream</h3>
            <ul class="list-group">
                {{#each ice_cream_eaten}}
                <li class="list-group-item">
                    {{this.id}}. {{this.ice_cream_name}} (Eaten by {{this.customer.customer_name}})
                </li>
                {{/each}}
            </ul>
        </div>

    </div>

</div>